@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Inter", sans-serif;

    --color-primary: #16a34a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);

    background: #f8fafc;
}
